<app-blank pageName="Product" [routes]="['Add Products']">
  <app-section sectionTitle="Add Products">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">eCommerce /</span><span> Add Product</span>
      </h4>
      <div class="app-ecommerce">
        <!-- Add Product -->
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">

          <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1 mt-3">Add a new Product</h4>
            <p class="text-muted">Orders placed across your store</p>
          </div>
          <div class="d-flex align-content-center flex-wrap gap-3">
            <!-- <button class="btn btn-label-secondary">Discard</button>
            <button class="btn btn-label-primary">Save draft</button> -->
            <button type="submit" (click)="updateProduct()" class="btn btn-primary">Update product</button>
          </div>

        </div>

        <div class="row" >

          <!-- First column-->
          <div class="col-12 col-lg-8" >
            <!-- Product Information -->
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-tile mb-0">Product information</h5>
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-name">Name</label>
                  <input type="text" class="form-control" 
                    [(ngModel)]="productDTo.product_name" placeholder="Product title" name="productTitle"
                    aria-label="Product title">
                </div>
                <div class="row mb-3">
                  <div class="col"><label class="form-label" for="ecommerce-product-sku">SKU</label>
                    <input type="text" [(ngModel)]="productDTo.product_code" class="form-control"
                      placeholder="SKU" name="productSku" aria-label="Product SKU">
                  </div>
                  <div class="col"><label class="form-label" for="ecommerce-product-barcode">Barcode</label>
                    <input type="text" [(ngModel)]="productDTo.bar_code" class="form-control"
                       placeholder="0123-4567" name="productBarcode"
                      aria-label="Product barcode">
                  </div>
                </div>
                <!-- Description -->
                <div>
                  <label class="form-label">Description <span class="text-muted">(short)</span></label>
                  <textarea [(ngModel)]="productDTo.description_long" class="form-control"
                    id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div>
                  <label class="form-label">Description <span class="text-muted">(long)</span></label>
                  <textarea [(ngModel)]="productDTo.description_long" class="form-control"
                    id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="card mb-4" (click)="fileInputSetListProduct.click()">
              <div class="card-body">
                <div class="drag-drop-zone flex-images-item" (dragover)="onDragOverListproduct($event)"
                  (dragleave)="onDragLeaveListproduct($event)" (drop)="onDropListProduct($event)"
                  (click)="onAreaClickListproduct()">
                  <p *ngIf="images.length === 0" class="text-center">Drag and drop images here, or click to select</p>
                  <div *ngFor="let image of images; let i = index" class="images-item">
                    <img [src]="image.src" [alt]="image.name" />
                    <div class="overlay-image">
                      <span>{{ image.name }}</span>
                      <button class="btn btn-sm btn-danger" (click)="onDeleteClickListProduct($event, i)">Remove</button>
                    </div>
                  </div>
                  <input type="file" (change)="onFileSelectedListProduct($event)" hidden #fileInputSetListProduct
                    multiple />
                </div>
              </div>
            </div>
            <!-- /Media -->
            <div class="card mb-4" >
              <div class="card-header">
                <h5 class="card-title mb-0">Variants</h5>
              </div>
              <div class="card-body">
                <form class="form-repeater" >
                  <div data-repeater-list="group-a">
                    <div >
                      <div class="row" >

                        <div class="mb-3 col-4" >
                          <label class="form-label" >Options</label>
                          <div class="position-relative" ><select
                              class="select2 form-select select2-hidden-accessible" 
                              tabindex="-1" aria-hidden="true">
                              <option value=""> Size</option>
                              <option value="size" >Size</option>
                              <option value="color" >Color</option>
                              <option value="weight" >Weight</option>
                              <option value="smell" >Smell</option>
                            </select>
                          </div>
                        </div>

                        <div class="mb-3 col-8">
                          <label class="form-label invisible">Not visible</label>
                          <input type="number" class="form-control" placeholder="Enter size">
                        </div>

                      </div>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-primary" data-repeater-create="">
                      Add another option
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- /Variants -->
          </div>
          <!-- /Second column -->

          <!-- Second column -->
          <div class="col-12 col-lg-4" >
            <!-- Pricing Card -->
            <div class="card mb-4">
              <div class="card-header">
                Set product Image
              </div>
              <div class="drag-drop-zone" (dragover)="onDragOverSetProduct($event)"
                (dragleave)="onDragLeaveSetProduct($event)" (drop)="onDrop($event)" (click)="onAreaClickSetProduct()">
                <p *ngIf="!image.src">Drag and drop an image here, or click to select one</p>
                <img *ngIf="image.src" [src]="image.src" alt="Uploaded Image" />
                <input type="file" (change)="onFileSelectedSetProduct($event)" hidden #fileInputSetProduct />
                <div *ngIf="image.src" class="preview-set-product">
                  <div class="overlay-image">
                    <span class="file-name">{{image.name}}</span>
                    <button class="btn btn-sm btn-danger" (click)="onDeleteClickSetProduct($event)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Pricing Card -->
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title mb-0">Pricing</h5>
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-discount-price">quantity</label>
                  <input type="number" [(ngModel)]="productDTo.quantity" class="form-control"
                   placeholder="Discounted Price"
                    aria-label="Product discounted price">
                </div>
                <!-- Base Price -->
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-price">Base Price</label>
                  <input type="number" [(ngModel)]="productDTo.price" class="form-control" id="ecommerce-product-price"
                    placeholder="Price" name="productPrice" aria-label="Product price">
                </div>
                <!-- Discounted Price -->
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-discount-price">Discounted Price</label>
                  <input type="number" [(ngModel)]="productDTo.promotional_price" class="form-control"
                   placeholder="Discounted Price"
                    aria-label="Product discounted price">
                </div>
                
                <!-- Charge tax check box -->
                <!-- <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" value="" id="price-charge-tax" checked="">
                  <label class="form-label" for="price-charge-tax">
                    Charge tax on this product
                  </label>
                </div> -->
                <!-- Instock switch -->
                <!-- <div class="d-flex justify-content-between align-items-center border-top pt-3">
                  <span class="mb-0 h6">In stock</span>
                  <div class="w-25 d-flex justify-content-end">
                    <label class="switch switch-primary switch-sm me-4 pe-2">
                      <input type="checkbox" class="switch-input" checked="">
                      <span class="switch-toggle-slider">
                        <span class="switch-on">
                          <span class="switch-off"></span>
                        </span>
                      </span>
                    </label>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- /Pricing Card -->
            <!-- Organize Card -->
            <div class="card mb-4" >
              <div class="card-header">
                <h5 class="card-title mb-0">Organize</h5>
              </div>
              <div class="card-body text-center" >
                <!--  CLICK theo cha con
                        <div *ngFor="let category of categories1">
                          <div>
                            <input type="checkbox" [(ngModel)]="category.checked" (change)="onCheckboxChange(category)" />
                            {{ category.category_name }}
                          </div>
                          <div *ngIf="category.category_parent_id && category.category_parent_id.length > 0" style="margin-left: 20px;">
                            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: category.category_parent_id }"></ng-container>
                          </div>
                        </div>
                        
                        <ng-template #recursiveList let-categories>
                          <div *ngFor="let category of categories">
                            <div>
                              <input type="checkbox" [(ngModel)]="category.checked" (change)="onCheckboxChange(category)" />
                              {{ category.category_name }}
                            </div>
                            <div *ngIf="category.category_parent_id && category.category_parent_id.length > 0" style="margin-left: 20px;">
                              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: category.category_parent_id }"></ng-container>
                            </div>
                          </div>
                        </ng-template>
                        
                         -->
            
            
                <!-- <button (click)="logSelectedIds()">Get Selected IDs</button> -->
                <div *ngFor="let category of categories">
                  <div>
                    <input type="checkbox" [(ngModel)]="category.checked" />
                    {{ category.category_name }}
                  </div>
                  <div *ngIf="category.category_parent_id && category.category_parent_id.length > 0" style="margin-left: 20px;">
                    <ng-container
                      *ngTemplateOutlet="recursiveList; context:{ $implicit: category.category_parent_id }"></ng-container>
                  </div>
                </div>
            
                <ng-template #recursiveList let-categories>
                  <div *ngFor="let category of categories">
                    <div>
                      <input type="checkbox" [(ngModel)]="category.checked" />
                      {{ category.category_name }}
                    </div>
                    <div *ngIf="category.category_parent_id && category.category_parent_id.length > 0" style="margin-left: 20px;">
                      <ng-container
                        *ngTemplateOutlet="recursiveList; context:{ $implicit: category.category_parent_id }"></ng-container>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>

            <!-- /Organize Card -->
          </div>
          <!-- /Second column -->
        </div>
      </div>
    </div>
</app-section>
</app-blank>