<app-blank pageName="attribute" [routes]="['attribute-update']">
  <app-section sectionTitle="attribute Update">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">
              Set product Image11
            </div>
            <div class="drag-drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
              (drop)="onDrop($event)" (click)="onAreaClick()">
              <p *ngIf="!image.src">Drag and drop an image here, or click to select one</p>
              <img *ngIf="image.src" [src]="image.src" alt="Uploaded Image" />
              <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
              <div *ngIf="image.src" class="preview-set-product">
                <div class="overlay">
                  <span class="file-name">{{fileName}}</span>
                  <button class="btn btn-sm btn-danger" (click)="onDeleteClick($event,image.fileId)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Update attribute</h3>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name"  [(ngModel)]="attribute.attribute_name"  name="name" class="form-control" required>
              <label for="name">attribute Parent:</label>
              <select class="form-select" aria-label="Default select example"  (ngModelChange)="changeattribute($event)" [(ngModel)]="attribute.attribute_parent_id">
                <option selected>Select attribute</option>
                <option *ngFor="let c of attributes" [ngValue]="c.attribute_id">{{ c.attribute_name }}</option>
              </select>
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="updateattribute()" >Update</button>
        </div>
      </div>
    </div>
</app-section>