<!-- <app-blank pageName="Product" [routes]="['product-list']">
  <app-section sectionTitle="Product List">
    <div class="row">
      <div class="col-md-6">
        <div class="card" (click)="fileInput.click()">
          <div class="card-body">
            <div class="row">
            <h5 class="card-title">Upload Images</h5>
            <input #fileInput type="file" multiple style="display: none" (change)="onFileSelected($event)" />
            <div *ngIf="imageSrcs.length > 0" class="preview">
              <div *ngFor="let image of imageSrcs; let i = index" class="image-preview">
                <img [src]="image.src" alt="Uploaded Image" class="img-fluid">
                <div class="overlay">
                  <span class="file-name">{{ image.name }}</span>
                  <button class="btn btn-sm btn-danger" (click)="removeImage(i)">Remove</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
   
    
</app-section>
</app-blank> -->

<app-blank pageName="Product" [routes]="['product-list']">
  <app-section sectionTitle="Product List">
    <div class="container-xxl flex-grow-1 container-p-y">



      <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">eCommerce /</span><span> Add Product</span>
      </h4>

      <div class="app-ecommerce" data-select2-id="24">

        <!-- Add Product -->
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">

          <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1 mt-3">Add a new Product</h4>
            <p class="text-muted">Orders placed across your store</p>
          </div>
          <div class="d-flex align-content-center flex-wrap gap-3">
            <button class="btn btn-label-secondary">Discard</button>
            <button class="btn btn-label-primary">Save draft</button>
            <button type="submit" (click)="insertProduct()" class="btn btn-primary">Publish product</button>
          </div>

        </div>

        <div class="row" data-select2-id="23">

          <!-- First column-->
          <div class="col-12 col-lg-8" data-select2-id="22">
            <!-- Product Information -->
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-tile mb-0">Product information</h5>
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-name">Name</label>
                  <input type="text" class="form-control" id="ecommerce-product-name"  [(ngModel)]="productDTo.product_name" placeholder="Product title"
                    name="productTitle" aria-label="Product title">
                </div>
                <div class="row mb-3">
                  <div class="col"><label class="form-label" for="ecommerce-product-sku">SKU</label>
                    <input type="number"  [(ngModel)]="productDTo.product_code"  class="form-control" id="ecommerce-product-sku" placeholder="SKU"
                      name="productSku" aria-label="Product SKU">
                  </div>
                  <div class="col"><label class="form-label" for="ecommerce-product-barcode">Barcode</label>
                    <input type="text"   [(ngModel)]="productDTo.bar_code" class="form-control" id="ecommerce-product-barcode" placeholder="0123-4567"
                      name="productBarcode" aria-label="Product barcode">
                  </div>
                </div>
                <!-- Description -->
                <div>
                  <label class="form-label">Description <span class="text-muted">(Optional)</span></label>
                  <textarea   [(ngModel)]="productDTo.description_long" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            </div>
            <!-- /Product Information -->
            <!-- Media -->
            <div class="card mb-4" (click)="fileInput.click()">
              <div class="card-body">
                <div class="row">
                <h5 class="card-title"> Set Images Product</h5>
                <input #fileInput type="file" multiple style="display: none" (change)="onFileSelected($event)" />
                <div *ngIf="imageSrcs.length > 0" class="preview">
                  <div *ngFor="let image of imageSrcs; let i = index" class="image-preview">
                    <img [src]="image.src" alt="Uploaded Image" class="img-fluid">
                    <div class="overlay">
                      <span class="file-name">{{ image.name }}</span>
                      <button class="btn btn-sm btn-danger" (click)="removeImage(i)">Remove</button>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- /Media -->
            <!-- Variants -->
            <div class="card mb-4" data-select2-id="21">
              <div class="card-header">
                <h5 class="card-title mb-0">Variants</h5>
              </div>
              <div class="card-body" data-select2-id="20">
                <form class="form-repeater" data-select2-id="19">
                  <div data-repeater-list="group-a" data-select2-id="18">
                    <div data-repeater-item="" data-select2-id="17">
                      <div class="row" data-select2-id="16">

                        <div class="mb-3 col-4" data-select2-id="15">
                          <label class="form-label" for="form-repeater-1-1">Options</label>
                          <div class="position-relative" data-select2-id="14"><select id="form-repeater-1-1"
                              class="select2 form-select select2-hidden-accessible" data-placeholder="Size"
                              data-select2-id="form-repeater-1-1" tabindex="-1" aria-hidden="true">
                              <option value="" data-select2-id="2">Size</option>
                              <option value="size" data-select2-id="25">Size</option>
                              <option value="color" data-select2-id="26">Color</option>
                              <option value="weight" data-select2-id="27">Weight</option>
                              <option value="smell" data-select2-id="28">Smell</option>
                            </select><span
                              class="select2 select2-container select2-container--default select2-container--below"
                              dir="ltr" data-select2-id="1" style="width: 272.203px;"><span class="selection"><span
                                  class="select2-selection select2-selection--single" role="combobox"
                                  aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                                  aria-labelledby="select2-form-repeater-1-1-container"><span
                                    class="select2-selection__rendered" id="select2-form-repeater-1-1-container"
                                    role="textbox" aria-readonly="true" title="Smell">Smell</span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                      role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                aria-hidden="true"></span></span></div>
                        </div>

                        <div class="mb-3 col-8">
                          <label class="form-label invisible" for="form-repeater-1-2">Not visible</label>
                          <input type="number" id="form-repeater-1-2" class="form-control" placeholder="Enter size">
                        </div>

                      </div>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-primary" data-repeater-create="">
                      Add another option
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- /Variants -->
          </div>
          <!-- /Second column -->

          <!-- Second column -->
          <div class="col-12 col-lg-4" data-select2-id="40">
            <!-- Pricing Card -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                <h5 class="card-title"> Set Image Product</h5>
                <div class="input-group mb-3">
                  <input type="file" (change)="onFileSelectedSetProduct($event)"  id="fileInputProduct" class="d-none" />
                  <input type="text" class="form-control" [value]="fileName" readonly placeholder="No file chosen" />
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" (click)="onFileInputClickSetProduct()">Chọn ảnh</button>
                  </div>
                </div>
                <div *ngIf="imageSrcSetProduct" class="image-preview-set-product mt-3">
                  <img [src]="imageSrcSetProduct" alt="Selected Image" class="img-thumbnail" />
                </div>
                </div>
              </div>
            </div>
            <!-- /Pricing Card -->
            <!-- Pricing Card -->
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title mb-0">Pricing</h5>
              </div>
              <div class="card-body">
                <!-- Base Price -->
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-price">Base Price</label>
                  <input type="number"  [(ngModel)]="productDTo.price" class="form-control" id="ecommerce-product-price" placeholder="Price"
                    name="productPrice" aria-label="Product price">
                </div>
                <!-- Discounted Price -->
                <div class="mb-3">
                  <label class="form-label" for="ecommerce-product-discount-price">Discounted Price</label>
                  <input type="number"  [(ngModel)]="productDTo.promotional_price" class="form-control" id="ecommerce-product-discount-price"
                    placeholder="Discounted Price" name="productDiscountedPrice" aria-label="Product discounted price">
                </div>
                <!-- Charge tax check box -->
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" value="" id="price-charge-tax" checked="">
                  <label class="form-label" for="price-charge-tax">
                    Charge tax on this product
                  </label>
                </div>
                <!-- Instock switch -->
                <div class="d-flex justify-content-between align-items-center border-top pt-3">
                  <span class="mb-0 h6">In stock</span>
                  <div class="w-25 d-flex justify-content-end">
                    <label class="switch switch-primary switch-sm me-4 pe-2">
                      <input type="checkbox" class="switch-input" checked="">
                      <span class="switch-toggle-slider">
                        <span class="switch-on">
                          <span class="switch-off"></span>
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Pricing Card -->
            <!-- Organize Card -->
            <div class="card mb-4" data-select2-id="66">
              <div class="card-header">
                <h5 class="card-title mb-0">Organize</h5>
              </div>
              <div class="card-body" data-select2-id="39">
                <!-- Category -->
                <div class="mb-3 col ecommerce-select2-dropdown" data-select2-id="47">
                  <label class="form-label mb-1 d-flex justify-content-between align-items-center" for="category-org">
                    <span>Category</span>
                  </label>
                  <div class="position-relative" data-select2-id="46">
                    <select class="form-select" aria-label="Default select example"(ngModelChange)="changeCategory($event)" [(ngModel)]="categorySelect">
                      <option selected>Select Category</option>
                      <option *ngFor="let c of categories" [ngValue]="c.category_id">{{ c.category_name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Organize Card -->
          </div>
          <!-- /Second column -->
        </div>
      </div>
    </div>
  </app-section>
</app-blank>