<app-blank pageName="Category" [routes]="['category-create']">  
  <app-section sectionTitle="Category Create">
    <div class="container-category">
      <div class="row ">
        <div class="col-md-12">
          <div  class="float-right">
            <button class="btn btn-primary float-md-end" (click)="insertArticle()">Thêm Bài Viết </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <input type="search" [(ngModel)]="articleModel.article_name"
                    class="form-control" placeholder="Search ">
        </div>
        <div class="col-md-3">
                    <select [(ngModel)]="articleModel.status" class="form-select text-capitalize">
                      <option value="PUBLISHED">Published</option>
                      <option value="PENDING">Pending</option>
                      <option value="DRAFT">Draft</option>
                    </select>
        </div>
        <div class="col-md-3">
          <button class="btn btn-secondary add-new btn-primary" (click)="search()" type="button"><span><i
                class="bx bx-plus me-0 me-sm-1"></i><span class="d-none d-sm-inline-block">Search</span></span></button>
</div>
      </div>
      
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>No .</th>
            <th>Title</th>
            <th>Content</th>
            <th>Slug</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Use Angular's *ngFor directive to loop through categorys array -->
          <tr *ngFor="let article of articleResponse; let i= index">
            <td>{{i+1}}</td>
            <td>{{ article.article_name }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.slug }}</td>
            <td>{{ article.status }}</td>
             <td class="text-end"> 
              <button href="#" class="btn btn-neutral" (click)="updateArticle(article.article_id)"><i class="bi bi-pencil"></i></button>
               <button type="button"
                class="btn btn-square btn-neutral text-danger-hover" (click)="deleteArticle(article.article_id)"> <i class="bi bi-trash"></i> </button>
          </tr>
        </tbody>
      </table>
      <app-pagination [data]="this.articleResponse" [totalRecords]="totalRecords" [pageSize]="this.articleModel.page_size"
            (pageChanged)="onPageChanged($event)">
          </app-pagination>
    </div>
  </app-section>
  </app-blank>

    