
.form-select{
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #d9dee3;
    outline: none;
}
.dataTables_wrapper .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-s-16{
    font-size: 16px;
}
.btn-delete-product :hover{
  color: red;
}