<app-blank pageName="Product" [routes]="['product-list']">
  <app-section sectionTitle="Product List">
    <div class="card">
      <!-- <div class="card-header">
        <h5 class="card-title">Filter</h5>
        <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
          <div class="col-md-4 product_status"><select id="ProductStatus" class="form-select text-capitalize">
              <option value="">Status</option>
              <option value="Scheduled">Scheduled</option>
              <option value="Publish">Publish</option>
              <option value="Inactive">Inactive</option>
            </select></div>
          <div class="col-md-4 product_category"><select id="ProductCategory" class="form-select text-capitalize">
              <option value="">Category</option>
              <option value="Household">Household</option>
              <option value="Office">Office</option>
              <option value="Electronics">Electronics</option>
              <option value="Shoes">Shoes</option>
              <option value="Accessories">Accessories</option>
              <option value="Game">Game</option>
            </select></div>
          <div class="col-md-4 product_stock"><select id="ProductStock" class="form-select text-capitalize">
              <option value=""> Stock </option>
              <option value="Out_of_Stock">Out of Stock</option>
              <option value="In_Stock">In Stock</option>
            </select></div>
        </div>
      </div> -->
      <div class="card-datatable table-responsive">
        <div  class="dataTables_wrapper dt-bootstrap5 no-footer">
          <div class="card-header d-flex border-top rounded-0 flex-wrap py-md-0">
            <div class="me-5 ms-n2 pe-5  ">
              <div class="">
                    <input type="search" [(ngModel)]="productDTO.product_name"    (keyup.enter)="searchProduct()"
                    class="form-control" placeholder="Search Product" >
              </div>
              
            </div>
            <div class="d-flex justify-content-start justify-content-md-end align-items-baseline">
              <div
                class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0">
                <div class="dataTables_length mt-0 mt-md-3 me-3">
                  <select class="form-select"  [(ngModel)]="productDTO.page_size" (ngModelChange)="searchProduct()">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="70">70</option>
                      <option value="100">100</option>
                    </select></div>
                <div class="dt-buttons btn-group flex-wrap d-flex">
                 
                  <button class="btn btn-secondary add-new btn-primary" 
                    type="button"><span><i class="bx bx-plus me-0 me-sm-1"></i><span
                        class="d-none d-sm-inline-block">Add Product</span></span></button>
                </div>
              </div>
            </div>
          </div>
          <table class="datatables-products table border-top dataTable no-footer dtr-column" >
            <thead>
              <tr>
                <th class="sorting sorting_asc" rowspan="1" colspan="1"
                  style="width: 434px;"  aria-sort="ascending">
                  product</th>
                <th class="sorting" rowspan="1" colspan="1"
                  style="width: 137px;" >category</th>
                <th class="sorting" rowspan="1" colspan="1"
                  style="width: 51px;">sku</th>
                <th class="sorting" rowspan="1" colspan="1"
                  style="width: 81px;">price</th>
                <th class="sorting" rowspan="1" colspan="1"
                  style="width: 39px;">quantity</th>
                <th class="sorting" rowspan="1" colspan="1"
                  style="width: 103px;">status</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76px;">Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd even"  *ngFor="let product of productRespone; let i= index">
                <td class=" control"  style="display: none;"></td>

                <td class="sorting_1">
                  <div class="d-flex justify-content-start align-items-center product-name">
                    <div class="avatar-wrapper">
                      <div class="avatar avatar me-2 rounded-2 bg-label-secondary"><img
                        [src]="product.srcImage"  width="50px" height="50px" alt="Product-9" class="rounded-2"></div>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="text-body text-nowrap mb-0 f-s-16">{{product.product_name}}</h6><small
                        class="text-muted text-truncate d-none d-sm-block">{{product.description_short}}</small>
                    </div>
                  </div>
                </td>
                <td><span class="text-truncate d-flex align-items-center"><span
                      class="avatar-sm rounded-circle d-flex justify-content-center align-items-center bg-label-info me-2"><i
                        class="bx bx-walk"></i></span>Shoes</span></td>
                 <td><span>Sku Id</span></td>
                <td><span>{{product.price}}</span></td>
                <td><span>{{product.quantity}}</span></td>
                <td><span>Active</span></td>
                <td>
                  <div class="d-inline-block text-nowrap">
                    <button class="btn btn-sm btn-icon" (click)="updateProduct(product)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn btn-sm btn-icon btn-delete-product" (click)="deleteProduct(product)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
 
            </tbody>
          </table>
          <app-pagination [data]="this.productRespone" [totalRecords]="totalRecords" [pageSize]="this.productDTO.page_size"
            (pageChanged)="onPageChanged($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </app-section>
</app-blank>