.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Khoảng cách giữa các ảnh */
}

.image-preview {
  width: calc(25% - 10px);
  /* Độ rộng của mỗi ảnh (25% cho 4 cột) và trừ đi khoảng cách */
  margin-bottom: 10px;
  /* Khoảng cách dưới mỗi ảnh */
  position: relative;
}

.image-preview-set-product {
  margin: 0 auto;
  width: calc(50% - 10px);
}

.image-preview img {
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.btn-remove {
  margin-left: 8px;
}

.form-select {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #d9dee3;
  outline: none;
}

.gap-3 {
  gap: 1rem !important;
}

.drag-drop-zone {
  border: 2px dashed #cccccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drag-drop-zone:hover {
  background-color: #f9f9f9;
}

.drag-drop-zone img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.preview-set-product {
  .overlay {
    margin: 22px;
  }
}
