<p>
  attribute works!
</p>
<app-blank pageName="attribute" [routes]="['attribute-list']">
  <app-section sectionTitle="attribute List">
    <div class="container-attribute">
      <div class="row ">
        <div class="col-md-12">
          <div  class="float-right">
            <button class="btn btn-primary float-md-end" (click)="insertAttribute()">Thêm Loại Sản phẩmm </button>
          </div>
        </div>
      </div>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>No .</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Use Angular's *ngFor directive to loop through attributes array -->
          <tr *ngFor="let attribute of attributes; let i= index">
            <td>{{i+1}}</td>
            <td>{{ attribute.attribute_name }}</td>
             <td class="text-end"> 
              <button href="#" class="btn btn-neutral" (click)="updateAttribute(attribute.attribute_id)"><i class="bi bi-pencil"></i></button>
               <button type="button"
                class="btn btn-square btn-neutral text-danger-hover" (click)="deleteAttribute(attribute)"> <i class="bi bi-trash"></i> </button>
          </tr>
        </tbody>
      </table>
    </div>
  </app-section>
</app-blank>